.border-primary {
  border-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.background-primary {
  background-color: var(--color-primary);
}

.background-primary-hover:hover {
  background-color: var(--hover-primary);
}

.selected-primary {
  background-color: var(--selected-primary);
}

.text-normal {
  color: var(--normal-text);
}

.text-title {
  color: var(--bold-text);
}

.app-background {
  background-color: var(--app-background);
}

.text-contrast {
  color: var(--app-background);
}

.success-background {
  background-color: var(--success);
}

:root {
  --color-primary: #06b6d4;
  --selected-primary: #B2EBF2;
  --hover-primary: #E0F7FA;
  --normal-text: #475569;
  --bold-text: #1e293b;
  --app-background: white;
  --scrollbar-track: #f7f8fa;
  --scrollbar-thumb: #06b6d4;
  --scrollbar-thumb-hover: #E0F7FA;
  --success: #22c55e;
  --error: #ef4444;
  --warning: #f59e0b;
  --info: #3b82f6;

}

/* Dark mode */
.dark {
  --color-primary: #22d3ee;
  /* vẫn nổi bật trên dark bg */

  --selected-primary: #129fd3;
  /* nhẹ nhàng, không chói */
  --hover-primary: #405789;
  /* hover trên dark mode */
  --normal-text: #cbd5e1;
  /* chữ thông thường nhẹ nhàng */
  --bold-text: #f8fafc;
  /* chữ tiêu đề sáng */
  --app-background: #0f172a;
  /* background tổng tối */
  --scrollbar-track: #0f172a;
  --scrollbar-thumb: #22d3ee;
  --scrollbar-thumb-hover: b7c1d6;
  --success: #22c55e;
  --error: #ef4444;
  --warning: #f59e0b;
  --info: #3b82f6;
}

* {
  /* Firefox */
  scrollbar-width: thin;
  /* auto, thin, none */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}